name: CI
on:

  workflow_dispatch:
  pull_request:
  push:
    branches:
     - {{cookiecutter.branch_name}}

  schedule:
    - cron: '0 2 * * *' # run at 2 AM UTC

jobs:
  unix:
    {% raw %}
    runs-on: ${{ matrix.os }}
    {% endraw %}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest]

    steps:
      - uses: actions/checkout@v4

      - name: Get number of CPU cores
        uses: SimenB/github-actions-cpu-cores@v2

      - name: Install micromamba
        uses: mamba-org/setup-micromamba@v1
        with:
          environment-file: environment-dev.yml

      - name: Make build directory
        run: mkdir build

      - name: Configure cmake
        shell: bash -l {0}
        run: |
          cmake .. \
           -DCMAKE_PREFIX_PATH=$CONDA_PREFIX \
           -DCMAKE_INSTALL_PREFIX=$CONDA_PREFIX
        working-directory: build

      - name: Build
        shell: bash -l {0}
        run: make -j${{ steps.cpu-cores.outputs.count }}
        working-directory: build

      - name: Install
        shell: bash -l {0}
        run: make install
        working-directory: build

      - name: Test
        shell: bash -l {0}
        run: pytest . --reruns 5
        working-directory: test

  win:
    {% raw %}
    runs-on: ${{ matrix.os }}
    {% endraw %}
    strategy:
      fail-fast: false
      matrix:
        os: [windows-latest]

    steps:
      - uses: actions/checkout@v4

      - name: Install micromamba
        uses: mamba-org/setup-micromamba@v1
        with:
          init-shell: >-
              powershell
              cmd.exe
          environment-file: environment-dev.yml

      - name: Make build directory
        run: mkdir build

      - name: Configure cmake
        shell: cmd /C CALL {0}
        run: |
          cmake .. -G "NMake Makefiles" ^
            -DCMAKE_BUILD_TYPE=Release ^
            -DXEUS_BUILD_TESTS=ON ^
            -DDEPENDENCY_SEARCH_PREFIX="%CONDA_PREFIX%\Library" ^
            -DCMAKE_PREFIX_PATH="%CONDA_PREFIX%\Library" ^
            -DCMAKE_INSTALL_PREFIX="%CONDA_PREFIX%"
        working-directory: build

      - name: Build and install
        shell: cmd /C CALL {0}
        run: |
          set CL=/MP
          nmake install
        working-directory: build

      - name: Test
        shell: cmd /C CALL {0}
        run: pytest . --reruns 5
        working-directory: test

  {% if cookiecutter.with_wasm == "yes" -%}
  emscripten_wasm_docker:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        container: ["emscripten/emsdk:latest"]

    {% raw %}
    container: ${{ matrix.container}}
    {% endraw %}
    steps:
      - uses: actions/checkout@v4

      - name: Get number of CPU cores
        uses: SimenB/github-actions-cpu-cores@v2

      - name: Verify emscripten
        run: emcc -v

      - name: Install xtl
        run: |
          mkdir -p /opt/xtl/build
          git clone https://github.com/xtensor-stack/xtl.git  /opt/xtl/src
          cd /opt/xtl/src
          git checkout 0.7.2
          cd /opt/xtl/build
          emcmake cmake ../src/ -DCMAKE_INSTALL_PREFIX=/custom_sysroot
          emmake make -j${{ steps.cpu-cores.outputs.count }} install

      - name: Install nlohmann-json
        run: |
          mkdir -p /opt/nlohmannjson/build
          git clone https://github.com/nlohmann/json.git  /opt/nlohmannjson/src
          cd  /opt/nlohmannjson/src
          git checkout v3.9.0
          cd /opt/nlohmannjson/build
          emcmake cmake ../src/  -DJSON_BuildTests=OFF -DCMAKE_INSTALL_PREFIX=/custom_sysroot
          emmake make -j${{ steps.cpu-cores.outputs.count }} install

      - name: Install xeus
        run: |
          mkdir -p /opt/xeus/build
          git clone https://github.com/jupyter-xeus/xeus.git  /opt/xeus/src
          cd  /opt/xeus/src

          cd /opt/xeus/build
          emcmake cmake ../src \
            -DXEUS_EMSCRIPTEN_WASM_BUILD=ON \
            -DXEUS_BUILD_TESTS=ON \
            -DCMAKE_INSTALL_PREFIX=/custom_sysroot\
            -Dxtl_DIR=/custom_sysroot/share/cmake/xtl \
            -Dnlohmann_json_DIR=/custom_sysroot/lib/cmake/nlohmann_json

          emmake make -j${{ steps.cpu-cores.outputs.count }}
          emmake make -j${{ steps.cpu-cores.outputs.count }} install

      - name: Install xeus-lite
        run: |
          mkdir -p /opt/xeus-lite/build
          git clone https://github.com/jupyter-xeus/xeus-lite.git  /opt/xeus-lite/src
          cd /opt/xeus-lite/build
          emcmake cmake ../src \
            -DXEUS_EMSCRIPTEN_WASM_BUILD=ON \
            -DCMAKE_INSTALL_PREFIX=/custom_sysroot \
            -Dxtl_DIR=custom_sysroot/share/cmake/xtl \
            -Dnlohmann_json_DIR=/custom_sysroot/lib/cmake/nlohmann_json \
            -Dxeus_DIR=/custom_sysroot/lib/cmake/xeus
          emmake make -j${{ steps.cpu-cores.outputs.count }}
          emmake make -j${{ steps.cpu-cores.outputs.count }} install

      - name: Make build directory
        run: mkdir build

      - name: Configure cmake rendered project
        shell: bash -l {0}
        run: |
          emcmake cmake .. \
           -D{{cookiecutter.cmake_var_prefix}}_EMSCRIPTEN_WASM_BUILD=ON \
           -Dxtl_DIR=/custom_sysroot/share/cmake/xtl \
           -Dnlohmann_json_DIR=/custom_sysroot/lib/cmake/nlohmann_json \
           -Dxeus_DIR=/custom_sysroot/lib/cmake/xeus \
           -Dxeus-lite_DIR=/custom_sysroot/lib/cmake/xeus-lite \
           -DCMAKE_INSTALL_PREFIX=/custom_sysroot
        working-directory: build

      - name: Build rendered project
        shell: bash -l {0}
        run: emmake make -j${{ steps.cpu-cores.outputs.count }}
        working-directory: build

      - name: Install rendered project
        shell: bash -l {0}
        run: make install
        working-directory: build

  emscripten_wasm:

    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        emsdk_ver: ["3.1.46"]

    steps:
      - uses: actions/checkout@v4

      - name: Get number of CPU cores
        uses: SimenB/github-actions-cpu-cores@v2

      - name: Install micromamba
        uses: mamba-org/setup-micromamba@v1
        with:
          environment-file: environment-wasm-build.yml
          environment-name: {{cookiecutter.conda_package_name}}-wasm-build

      - name: Setup emsdk
        shell: bash -l {0}
        run: |
          {% raw %}
          emsdk install ${{ matrix.emsdk_ver }}
          {% endraw %}

      - name: Build
        shell: bash -l {0}
        run: |
          {% raw %}
          emsdk activate ${{ matrix.emsdk_ver }}
          {% endraw %}
          source $CONDA_EMSDK_DIR/emsdk_env.sh
          micromamba create -f environment-wasm-host.yml --platform=emscripten-wasm32

          mkdir build
          pushd build

          export EMPACK_PREFIX=$MAMBA_ROOT_PREFIX/envs/{{cookiecutter.conda_package_name}}-wasm-build
          export PREFIX=$MAMBA_ROOT_PREFIX/envs/{{cookiecutter.conda_package_name}}-wasm-host
          export CMAKE_PREFIX_PATH=$PREFIX
          export CMAKE_SYSTEM_PREFIX_PATH=$PREFIX

          emcmake cmake \
            -DCMAKE_BUILD_TYPE=Release                        \
            -DCMAKE_PREFIX_PATH=$PREFIX                       \
            -DCMAKE_INSTALL_PREFIX=$PREFIX                    \
            -D{{cookiecutter.cmake_var_prefix}}_EMSCRIPTEN_WASM_BUILD=ON               \
            -DCMAKE_FIND_ROOT_PATH_MODE_PACKAGE=ON            \
            ..
          make -j${{ steps.cpu-cores.outputs.count }}

  {% endif %}
